# Prepare Meta Data File to release with study

In [44]:
import numpy as np
import os  # For Saving to Folder
import pandas as pd
import matplotlib.pyplot as plt

import socket
import os as os
import sys as sys
import multiprocessing as mp

### For Arial Font
from matplotlib import rcParams
rcParams['font.family'] = 'sans-serif'   # Set the defaul
### Make sure to have the font installed (it is on cluster for Harald)
rcParams['font.sans-serif'] = ['Arial']

socket_name = socket.gethostname()
print(socket_name)

if socket_name.startswith("compute-"):
    print("HSM Computational partition detected.")
    path = "/n/groups/reich/hringbauer/git/punic_aDNA/"  # The Path on Midway Cluster
else:
    raise RuntimeWarning("Not compatible machine. Check!!")

os.chdir(path)  # Set the right Path (in line with Atom default)
# Show the current working directory. Should be HAPSBURG/Notebooks/ParallelRuns
print(os.getcwd())
print(f"CPU Count: {mp.cpu_count()}")
print(sys.version)

compute-a-16-39.o2.rc.hms.harvard.edu
HSM Computational partition detected.
/n/groups/reich/hringbauer/git/punic_aDNA
CPU Count: 32
3.7.4 (default, Sep 11 2019, 11:24:51)
[GCC 6.2.0]

# Loat full Metadata

In [49]:
df_meta = pd.read_csv("/n/groups/reich/hringbauer/Data/v54.1.anno.haplogroups.csv", sep=",")
df_t =  pd.read_csv("/n/groups/reich/hringbauer/git/punic_aDNA/data/cluster_assignments_punic.v54.1i.tsv", sep="\t")
df_t2 = df_t[["iid","location", "label", "cluster_geo"]]
             
dfp = pd.merge(df_meta, df_t2, on="iid")
print(f"Loaded {len(dfp)}/{len(df_t2)} Indivdiuals")

### Add Unpublished
idx =dfp["study"].str.contains("Unpublished")
dfp.loc[idx, "study"] = "Newly Published"
dfp.drop(columns=["Master ID", 'include_alt', "location", "clst"], inplace=True) # Drop Master column

Loaded 160/160 Indivdiuals

In [50]:
dfp = dfp.sort_values(by=["cluster_geo","loc"])

### Save the full table

In [51]:
savepath="./output/tables/meta/v54.1.punic.tsv"
dfp.to_csv(savepath, sep="\t", index=False)
print(f"Saved {len(dfp)} Individuals to: {savepath}")

Saved 160 Individuals to: ./output/tables/meta/v54.1.punic.tsv

In [52]:
dfp

,iid,Skeletal code,Skeletal element,loc,lat,lon,age,age_range,region,study,mean_cov,n_cov_snp,avg_cov_snp,data_type,sex,Y_haplo,mtDNA_haplo,label,cluster_geo
3,I18201,1935/4VILL/T774-XI/3,tooth; tooth; tooth,"Almería, Cuevas del Almazora, Villaricos",37.247,-1.7768,2554.0,"752-417 calBCE (2455±20 BP, PSUAMS-7740)",Spain,Newly Published,0.734513,881415,2.333945,1240k,M,E1b1b1a1b2c1a~,I4a,Punic_Late,Iberia
52,I18199,1935/4VILL/T774-I/2,tooth; tooth; tooth,"Almería, Cuevas del Almazora, Villaricos",37.247,-1.7768,2226.0,"373-199 calBCE (2215±20 BP, PSUAMS-7739)",Spain,Newly Published,0.620434,744521,1.425717,1240k,M,E1b1b1a1b2,H1e1a,Punic_Late,Iberia
87,I18193,1935/4VILL/T62/3,tooth,"Almería, Cuevas del Almazora, Villaricos",37.247,-1.7768,2218.0,"357-167 calBCE (2180±20 BP, PSUAMS-7844)",Spain,Newly Published,0.502855,603426,1.240469,1240K,M,T1a1a1a1,U5b1e,Punic_Late,Iberia
90,I18203,1935/4VILL/T774-XIII/4,tooth; tooth; tooth,"Almería, Cuevas del Almazora, Villaricos",37.247,-1.7768,2225.0,"364-197 calBCE (2205±20 BP, PSUAMS-7741)",Spain,Newly Published,0.492881,591457,0.878701,1240k,F,n/a (female),H15a1b,Punic_Late,Iberia
106,I18400,1935/4VILL/T1263/2,tooth,"Almería, Cuevas del Almazora, Villaricos",37.247,-1.7768,1585.0,"261-416 calCE (1690±20 BP, PSUAMS-7743)",Spain,Newly Published,0.356256,427507,0.535202,1240K,F,n/a (female),HV0+195,Roman_Late,Iberia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,I21195,SelMan.T11A,petrous,"Sicily, Selinunte, Manuzza",37.585,12.8250,2500.0,700-400 BCE,Italy,Newly Published,0.535593,642711,1.014,1240K,M,E1b1b1a1a2,U3c,Punic_Late,Sicily
81,I21197,SelMan.T12,petrous,"Sicily, Selinunte, Manuzza",37.585,12.8250,2225.0,"380-176 calBCE (2210±35 BP, 75.95±0.33 pMC, RT...",Italy,Newly Published,0.528608,634329,0.991,1240K,M,L,K1a17,Punic_Late,Sicily
118,I21194,SelMan.T10.1,petrous,"Sicily, Selinunte, Manuzza",37.585,12.8250,2500.0,700-400 BCE,Italy,Newly Published,0.266196,319435,0.333,1240K,M,C1a2a2,X3a,Punic_Late,Sicily
132,I19194,SelMan.T21,tooth (canine),"Sicily, Selinunte, Manuzza",37.585,12.8250,2500.0,700-400 BCE,Italy,Newly Published,0.152740,183288,0.175,1240K,M,I2a1a1a2a1a~,U6a7a2,Punic_Late,Sicily
158,I21854,SelMan.T7ter.1,petrous,"Sicily, Selinunte, Manuzza",37.585,12.8250,2500.0,700-400 BCE,Italy,Newly Published,0.020243,24291,0.021,1240K,F,n/a (female),T2b,Punic_Early,Sicily

In [42]:
dfp.columns

Index(['iid', 'Skeletal code', 'Skeletal element', 'loc', 'lat', 'lon', 'age',
       'region', 'study', 'clst', 'mean_cov', 'n_cov_snp', 'avg_cov_snp',
       'include_alt', 'data_type', 'sex', 'Y_haplo', 'mtDNA_haplo', 'location',
       'label', 'cluster_geo'],
      dtype='object')