In [2]:
import numpy as np
import pandas as pd
import os
import sys as sys
import socket
import matplotlib.pyplot as plt
import multiprocessing as mp
import itertools as it
#from adjustText import adjust_text

import warnings
warnings.filterwarnings("ignore") # Great Style
socket_name = socket.gethostname()
print(socket_name)

if socket_name.startswith("compute-"):
    print("HSM Computational partition detected.")
    path = "/n/groups/reich/hringbauer/git/punic_aDNA/"  # The Path on Midway Cluster
else:
    raise RuntimeWarning("No compatible machine. Check!!")

os.chdir(path)  # Set the right Path (in line with Atom default)
# Show the current working directory. Should be HAPSBURG/Notebooks/ParallelRuns

print(os.getcwd())
print(f"CPU Count: {mp.cpu_count()}")

#sys.path.insert(0,"/n/groups/reich/hringbauer/git/hapBLOCK/package/")  # hack to get development package first in path
from ancIBD.ibd_stats.funcs import new_columns, find_relatives, give_sub_df, plot_age_diff, rc_date

compute-e-16-236.o2.rc.hms.harvard.edu
HSM Computational partition detected.
/n/groups/reich/hringbauer/git/punic_aDNA
CPU Count: 28

# 1) Browse full IBD dataset (Eurasia)

In [2]:
path_save = f"/n/groups/reich/hringbauer/git/punic_aDNA/output/ibd/v54.1.ibd_ind.d220.tsv" # for IBD csv file
df = pd.read_csv(path_save, sep="\t")

path_save = "/n/groups/reich/hringbauer/Data/v54.1.anno.csv"# for IBD csv file
df_meta = pd.read_csv(path_save, sep=",")

new_columns(df, df_meta, col = ["age", "loc", "n_cov_snp"]) #"clst"

df=df.sort_values(by="sum_IBD>20", ascending=False)
df20 = df[df["max_IBD"]>16].copy()

In [ ]:
df20[]

In [ ]:
give_sub_df(df, pop1='Carthage', pop2='', col='loc').sort_values(by="max_IBD", ascending=False)[:50]

# 2) Browse Punic-specific IBD Dataset
Contains more low coverage Indidivuals

In [4]:
df = pd.read_csv("/n/groups/reich/hringbauer/git/punic_aDNA/output/ibd/v54.1.ibd_ind.d220.tsv", sep="\t")
path_save = "/n/groups/reich/hringbauer/Data/v54.1.anno.csv"# for IBD csv file
df_meta = pd.read_csv(path_save, sep=",")

new_columns(df, df_meta, col = ["age", "loc", "n_cov_snp"]) #"clst"

,iid1,iid2,max_IBD,sum_IBD>8,n_IBD>8,sum_IBD>12,n_IBD>12,sum_IBD>16,n_IBD>16,sum_IBD>20,n_IBD>20,age1,age2,loc1,loc2,n_cov_snp1,n_cov_snp2
0,I35351,I35333,282.987110,3332.207697,21.0,3332.207697,21.0,3332.207697,21.0,3332.207697,21.0,2500.0,2500.0,"Cap Bon, Kelibia","Cap Bon, Kelibia",1028493,986415
1,I24494,I24040,283.652203,3326.638294,20.0,3326.638294,20.0,3326.638294,20.0,3326.638294,20.0,2464.0,2547.0,Kerkouene,Kerkouene,791516,702598
2,I22122,I22118,213.983188,3308.844301,25.0,3308.844301,25.0,3308.844301,25.0,3274.698507,23.0,2419.0,2589.0,"Sardinia, Tharros","Sardinia, Tharros",711166,802359
3,I24494,I24193,283.652203,2048.808393,33.0,2029.570302,31.0,2001.710003,29.0,1966.079616,27.0,2464.0,2500.0,Kerkouene,Kerkouene,791516,789887
4,I22122,I22117,176.386502,1706.853619,24.0,1706.853619,24.0,1706.853619,24.0,1706.853619,24.0,2419.0,2582.0,"Sardinia, Tharros","Sardinia, Tharros",711166,791179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,I22252,I28504,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2600.0,2337.0,"Akhziv, southern cemetery",Carthage,530139,679772
359,I22252,I22260,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2600.0,2600.0,"Akhziv, southern cemetery","Akhziv, southern cemetery",530139,600271
360,I22236,I35334,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2528.0,2500.0,"Sicily, Motya","Cap Bon, Kelibia",799650,1080851
361,I22236,I24045,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2528.0,2500.0,"Sicily, Motya",Kerkouene,799650,696534
362,I8577,I24045,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2105.0,2500.0,"Sicily, Marsala, Lilybaeum, via Berta",Kerkouene,934211,696534

In [5]:
iids = ["18199", "I18201", "I18203"]

In [6]:
df[df["iid1"].isin(iids) | df["iid2"].isin(iids)]

,iid1,iid2,max_IBD,sum_IBD>8,n_IBD>8,sum_IBD>12,n_IBD>12,sum_IBD>16,n_IBD>16,sum_IBD>20,n_IBD>20,age1,age2,loc1,loc2,n_cov_snp1,n_cov_snp2
6,I18199,I18203,87.207204,762.694800,36.0,646.692397,24.0,518.093885,15.0,465.146892,12.0,2226.0,2225.0,"Almería, Cuevas del Almazora, Villaricos","Almería, Cuevas del Almazora, Villaricos",744521,591457
9,I18199,I18201,47.389899,650.968208,36.0,515.483997,22.0,417.833296,15.0,350.126997,11.0,2226.0,2554.0,"Almería, Cuevas del Almazora, Villaricos","Almería, Cuevas del Almazora, Villaricos",744521,881415
12,I18201,I18203,27.386105,313.902313,24.0,174.109095,10.0,89.933786,4.0,72.560105,3.0,2554.0,2225.0,"Almería, Cuevas del Almazora, Villaricos","Almería, Cuevas del Almazora, Villaricos",881415,591457
27,I26932,I18203,20.142701,36.934009,2.0,36.934009,2.0,36.934009,2.0,20.142701,1.0,2230.0,2225.0,"Málaga, Calle Mármoles","Almería, Cuevas del Almazora, Villaricos",822991,591457
36,I26932,I18201,10.000396,28.411689,3.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2230.0,2554.0,"Málaga, Calle Mármoles","Almería, Cuevas del Almazora, Villaricos",822991,881415
81,I26931,I18203,11.211300,11.211300,1.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2239.0,2225.0,"Málaga, Calle Mármoles","Almería, Cuevas del Almazora, Villaricos",747809,591457
82,I22118,I18201,11.209595,11.209595,1.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2589.0,2554.0,"Sardinia, Tharros","Almería, Cuevas del Almazora, Villaricos",802359,881415
195,I26842,I18201,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2350.0,2554.0,"Málaga, Hipgeo del Parking de Alcazabilla","Almería, Cuevas del Almazora, Villaricos",824318,881415
200,I26915,I18201,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2350.0,2554.0,"Málaga, Hipgeo del Parking de Alcazabilla","Almería, Cuevas del Almazora, Villaricos",743832,881415
201,I26915,I18203,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2350.0,2225.0,"Málaga, Hipgeo del Parking de Alcazabilla","Almería, Cuevas del Almazora, Villaricos",743832,591457
210,I27602,I18203,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2350.0,2225.0,"Eivissa, Can Marines","Almería, Cuevas del Almazora, Villaricos",677328,591457
273,I18201,I24196,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2554.0,2500.0,"Almería, Cuevas del Almazora, Villaricos",Kerkouene,881415,553006
282,I18203,I12846,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2225.0,2093.0,"Almería, Cuevas del Almazora, Villaricos","Sicily, Marsala, Lilybaeum, Tribunale",591457,829186
285,I18203,I24049,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2225.0,2500.0,"Almería, Cuevas del Almazora, Villaricos",Kerkouene,591457,662742
286,I18203,I24048,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2225.0,2500.0,"Almería, Cuevas del Almazora, Villaricos",Kerkouene,591457,624049
287,I18203,I22252,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2225.0,2600.0,"Almería, Cuevas del Almazora, Villaricos","Akhziv, southern cemetery",591457,530139
288,I18203,I21857,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,2225.0,2224.0,"Almería, Cuevas del Almazora, Villaricos","Sicily, Marsala, Lilybaeum, Tribunale",591457,731581